.mainPage {
    padding: 20px 30px;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1em;
}

.projectsContainer {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    justify-content: center;
    row-gap: 4em;
    column-gap: 4em;

}

.heading {
    width: 100%;
    min-width:fit-content;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 2em;
    color: var(--global-heading);
}

.experienceContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3em;
}

.contactIcons {
    display: flex;
    position: fixed;
    top: 30px;
    right: 30px;
    min-width: fit-content;
}
