.container {
    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    
    /*As a flex item*/
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 30vw;
    height: auto;

}

.image {

}

.title {
    font: bold;
}

.description {

}

.githubLink {
    position: absolute;
    bottom: 20px;
    right: 20px;
    min-width: 30px;
    height: auto;
}