.container {

    --card-padding: 10px;

    display:flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    

    /* beautification */
    background-color: var(--global-secondary-background);
    max-height: 500px;
    padding: var(--card-padding);
    overflow: hidden;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--global-border-color);
    box-shadow: var(--global-box-shadow);

}

.image {
    object-fit: cover;
    height: 70%;
    min-height: 70%;
    width: auto;
    margin: calc(-1 * var(--card-padding));
}

.title {
    font: bold;
    margin-block-end: 0.5em;
}

.description {
    margin-block-start: 0;
}

.githubLink {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 40px;
    height: auto;
}

.githubLink svg {
    fill: var(--theme-trim);
}